.color{
    background-color: aqua;
}
.size{
    font-size: x-large;
}
.fontcolor{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
